*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
     display: flex;
     align-items: center;
     padding: 20px;

}
.logo{
     display: flex;
     align-items: center;
     padding: 20px;
     font-family: Fredoka One;
     font-size: 20px;
     color: #132743;
     margin-left: 75px;
}
nav{
    flex: 1;
    text-align: right;
    margin-right: 75px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    width: 71px;
    height: 19px;
    font-family: Poppins;
    font-style: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
nav ul li a:active{
    color: #00a8cc;
}
nav ul li a:hover{
    color: #00a8cc;
}
.about-section{
    background-size: 90%;
    background-color: #bbded6;
    overflow: hidden;
    padding: 100px 0;
}
.about img{
    width: 500px;
    height: 500px;
    margin-left: 70px;
    margin-bottom: 40px;
    line-height: 30px;
}
.inner-container{
    width: 55%;
    float: right;
    background-color: #bbded6;
    padding: 30px;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    font-family: Poppins;
    color: rgb(86, 68, 90);
}
.text{
    font-size: 15px;
    color: rgb(149, 124, 151);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: Inter;
}
.thx{
    background-color: #bbded6;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 160px;
    margin-bottom: 30px;
}
.footer-col-2 p{
    font-family: Inter;
}
